<p id="notice"><%= notice %></p>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Published at</th>
    </tr>
  </thead>

  <tbody>
    <% @feed.entries.each do |entry| %>
      <tr>
        <td><%= link_to entry.title, entry.url, target: '_blank'%></td>
        <td><%= entry.published.strftime("%d/%m/%Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
